/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AMR Trinity Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
manifest {
    name            = 'Osadio95/amrtrinity'
    author          = "Seqafrica"
    homePage        = 'https://github.com/Osadio95/amrtrinity'
    description     = "Antimicrobial resistance detection using AMRFinderPlus, ResFinder and RGI with harmonization"
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = '1.0.11'
}

// Global default params
params {
    input    = './test/mini/isolates.tsv'
    threads  = 4
    outdir   = './results'
}

// Process configuration
process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withName: 'amrfinderplus' {
        container = 'docker.io/ncbi/amr:4.0.23-2025-07-16.1'
        cpus = { check_max(params.threads ?: 4, 8) }
    }

    withName: 'resfinder' {
        container = 'docker.io/genomicepidemiology/resfinder:4.7.2'
        containerOptions = '--entrypoint ""'
        cpus = { check_max(params.threads ?: 4, 8) }
    }

    withName: 'rgi' {
        container = 'quay.io/biocontainers/rgi:6.0.5--pyh05cac1d_0'
        cpus = { check_max(params.threads ?: 4, 8) }
    }

    withName: 'hamronize' {
        container = 'ghcr.io/zwets/hamronization:1.1.10'
        containerOptions = '--entrypoint ""'
        cpus = 1
    }

    withName: 'summarise' {
        container = 'ghcr.io/zwets/hamronization:1.1.10'
        containerOptions = '--entrypoint ""'
        cpus = 1
    }
}

// Profiles
profiles {
    docker {
        docker.enabled = true
        docker.userEmulation = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    standard {
        docker.enabled = true
    }
}

// Environment variables
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

